In [ ]:
for abhay in range (10):
  print(abhay)

0
1
2
3
4
5
6
7
8
9

In [ ]:
x=0

In [ ]:
y=0

In [ ]:
for x in range (10) :
  y=y+x
  print(y)

0
1
3
6
10
15
21
28
36
45

In [ ]:
x=0

In [ ]:
y=0

In [ ]:
for x in range (10):
  y=y*x
  print(y)

0
0
0
0
0
0
0
0
0
0

In [ ]:
x=0
y=1
for x in range (1,10):
  y=y*x
  print(y)

1
2
6
24
120
720
5040
40320
362880

In [ ]:
x=0
y=0
for x in range (1,100):
  y=y+x
  print(y)

1
3
6
10
15
21
28
36
45
55
66
78
91
105
120
136
153
171
190
210
231
253
276
300
325
351
378
406
435
465
496
528
561
595
630
666
703
741
780
820
861
903
946
990
1035
1081
1128
1176
1225
1275
1326
1378
1431
1485
1540
1596
1653
1711
1770
1830
1891
1953
2016
2080
2145
2211
2278
2346
2415
2485
2556
2628
2701
2775
2850
2926
3003
3081
3160
3240
3321
3403
3486
3570
3655
3741
3828
3916
4005
4095
4186
4278
4371
4465
4560
4656
4753
4851
4950

In [ ]:
a=33
b=200
if b > a:
  print("b is grater than a")

b is grater than a

In [ ]:
a=33
b=200
if b > a:
  print("b is grater than a") #you will get an error

b is grater than a

In [ ]:
a=33
b=33
if b > a :
  print("b is greater than a")
elif a == b:
    print("a and b are equal")

a and b are equal

In [ ]:
a=200
b=33
if b > a :
  print("b is greater than a")
elif a == b :
  print("a and b are equal")
else:
  print ("a is greater than b")

a is greater than b

In [ ]:
a=200
b=33
if b > a :
  print ("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [ ]:
if a > b : print("a is greater than b")

a is greater than b

In [ ]:
a=2
b=300
print("a") if a > b else print ("b")

b

In [ ]:
a=330
b=330
print("a") if a > b else print("=") if a == b else print("b")

=

In [ ]:
a=200
b=33
c=500
if a > b and c > a :
  print("both conditions are true")

both conditions are true

In [ ]:
a=200
b=33
c=500
if a > b and a > c :
  print("at least one of the condition is true")

In [ ]:
a =33
b =200
if not a > b :
  print("a is not greater b")

a is not greater b

In [ ]:
x=41

if x > 10:
  print("above ten,")
  if x > 20:
    print("and also above 20!")
else:
  print("and also above 20.")

above ten,
and also above 20!

In [ ]:
x=33
b=200

if b > a:
  pass

In [ ]:
x=0
y=0
for x in range (1,100):
  if x%2 == 0 :
    y=y+x
    print(y)

2
6
12
20
30
42
56
72
90
110
132
156
182
210
240
272
306
342
380
420
462
506
552
600
650
702
756
812
870
930
992
1056
1122
1190
1260
1332
1406
1482
1560
1640
1722
1806
1892
1980
2070
2162
2256
2352
2450

In [ ]:
x=[10,5,45,67,56,78,98,45,35,47]
for y in x :
  print(y)

10
5
45
67
56
78
98
45
35
47

In [ ]:
x=[10,5,45,67,56,78,98,45,35,47]
for y in x :
  if y%2 == 0:
    print (y)

10
56
78
98

In [ ]:
x=["10","56","78","98"]
y=["5","45","67","45","35","47"]